{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/flexbox.css'%}">
</head>
<body>

<div class="containernav sticknav">
    <div class="itcss item-1"><p>filtrar por</p></div>
    <div class="itcss item-2"><p>partidas anuladas</p></div>
    <div class="itcss item-3"><p>Descripción</p></div>
    <div class="itcss item-4"><p>Descripción</p></div>
    <div class="itcss item-5"><input id="txtSearch" class="search" type="search" placeholder="Search..."></div>
</div>


<div class="container stickhead">
    <div class="itcss item-1 stickheadcol1"><p>capitulo</p></div>
    <div class="itcss item-2 stickheadcol2"><p>Descripción</p></div>
    <div class="itcss item-3"><p>Descripción</p></div>
    <div class="itcss item-4"><p>Descripción</p></div>
    <div class="itcss item-5">asdfasdfasdgasdfasd</div>
    <div class="itcss item-6">sdfsdfsd</div>
    <div class="itcss item-7">editar</div>
</div>

<div class="container">
<div class="itcss item-1 stickcol1 azul">fgh dfgh fghg fg ghhfh hg gdfh </div>
<div class="itcss item-2 stickcol2 azul" contenteditable>Pruebas de flexbox y grid</div>
<div class="itcss item-3" ><a href="https://www.youtube.com/watch?v=Y8zMYaD1bz0&list=PL4cUxeGkcC9i3FXJSUfmsNOx8E7u6UuhG">tutorial extenso</a>
    {% comment %} <span class="textarea"  contenteditable></span></p>   {% endcomment %}
    {% comment %} role="textbox" {% endcomment %}
</div>
<div class="itcss item-4"> <a href="https://www.youtube.com/watch?v=phWxA89Dy94">tutorial rápido</a> </div>
<div class="itcss item-5"><a href="https://www.youtube.com/watch?v=EiNiSFIPIQE">tutorial rápido grid</a> </div>
<div class="itcss item-6">sdfsdfsd</div>
<div class="itcss item-7">editar</div>
</div>

<div class="container">
    <div class="itcss item-1 stickcol1 azul">fgh dfgh fghg fg ghhfh hg gdfh </div>
    <div class="itcss item-2 stickcol2 azul" contenteditable>a partir de la siguiente comienza el bucle</div>
    {% comment %} <input class="inputcell" type="text" value="valorrrrrrrrrrrr rrrr rr rrr  r rr"> {% endcomment %}
    <div class="itcss item-3" contenteditable> fasdf asdf adf asdf asdf asdf asdf asdf añslfkj ñlsadkf ñlkaskkd fñlasd f asdf asdfadsf af asdf asdlf j</div>
    <div class="itcss item-4"> fgh fgh fgh dfgh fdgh gfh gdh </div>
    <div class="itcss item-5">hgf fg hfh ghg ghdhgfgh dfgh fdhg dfh </div>
    <div class="itcss item-6">sdfsdfsd</div>
<div class="itcss item-7">editar</div>
</div>

{% for partida in partidas %}
<div class="container">
    <div class="itcss item-1 stickcol1 azul">Check  </div>
    <div class="itcss item-2 stickcol2 azul" contenteditable>{{partida}}</div>
    <div class="itcss item-3" contenteditable>fasdfsadgdfgsdfgsdfh hg dfhg gfhdg hg gfh fgh gf gsdfg s fsdg ssdfg</div>
    <div class="itcss item-4"> fgh fgh fgh dfgh fdgh gfh gdh </div>
    <div class="itcss item-5">hgf fg hfh ghg ghdhgfgh dfgh fdhg dfh </div>
    <div class="itcss item-6">sdfsdfsd</div>
    <div class="itcss item-7">editar</div>
</div>
{% endfor %}



<script src="{%static 'js/main2.js'%}"></script>

</body>
</html>