{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/flexbox.css'%}">
</head>
<body>

<h1>{{titulo}}</h1>
<h3>Pruebas de flexbox y grid</h3>
<a href="https://www.youtube.com/watch?v=Y8zMYaD1bz0&list=PL4cUxeGkcC9i3FXJSUfmsNOx8E7u6UuhG">tutorial extenso</a>
<a href="https://www.youtube.com/watch?v=phWxA89Dy94">tutorial rápido</a>
<a href="https://www.youtube.com/watch?v=EiNiSFIPIQE">tutorial rápido grid</a>

<div class="container">
<div class="itcss item-1"><p>alsdfñaksdfa af</p></div>
<div class="itcss item-2"><p>asdlkjasd fasñldkfjañslkd fasñldkf asd</p></div>
<div class="itcss item-3"></div>
<div class="itcss item-4"></div>
<div class="itcss item-5"></div>
<div class="itcss item-6">editar</div>
</div>

<div class="container">
<div class="itcss item-1"></div>
<div class="itcss item-2"></div>
<div class="itcss item-3"></div>
<div class="itcss item-4"></div>
<div class="itcss item-5"></div>
<div class="itcss item-6"></div>
</div>


</body>
</html>