<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="https://www.juntadeandalucia.es/economiayhacienda/apl/surweb/modelos/modelo046/046.jsp">Enlace a Junta de Andalucía</a>
    <p>En OBLIGADO los datos del cliente</p>
    <p>En el apartado a los efectos de notificación si no se especifica lo contrario se pone otro domicilio porque suele ser una venta por lo que no será más es domicilio fiscal del cliente</p>
    <h3>DATOS GENERALES</h3>
    <p>check en AUTOLIQUIDACIÓN </p>
    <p>Fecha de devengo el mismo dia en el que se está tramitando la tasa</p>
    <p>Debajo de Autoliquidación:</p>
    <p>
    Inscripción en el Registro de Certificados Energéticos Andaluces:
Inscripción de edificio existente.
Instalaciones de edificación con superficie inferior o igual a 250 m² 
</p>
<p>(o mayor en su caso)</p>
<p>MUY Importante <strong>Check en Solicita la bonificación....</strong></p>
<p>El importe:14,40 <strong>siempre que sea edificio existente y superficie menor de 250 m2</strong></p> 
<p>Codigo territorial: PI4150</p>
<p>Concepto de pago: 0007</p>
<p><strong>VALIDAR</strong></p>

<p>Pago telemático-particular-sin certificado digital</p>

</body>
</html>